/* Header CSS Start */
header {
    padding: 124px 0 80px;
    background: url(/images/about/bg/about.jpg);
    background-size: cover;
    background-position: center;
}
header h1 {
    font-size: 40px;
}
header h6 {
    margin-bottom: 30px;
}
header .header_btn {
    background-color: #0aa195;
}
/* Header CSS End */


/* About CSS Start */
.about {
    padding: 80px 0;
}
.about h1 {
    font-size: 30px;
}
.about ul li .icon {
    color: #0aa195;
}
/* About CSS End */


/* Get Started CSS Start */
.start {
    padding: 80px 0;
}
.start .wrapper {
    background: url(/images/home/bg/get_started.png);
    background-size: cover;
    background-position: center;
    background-color: #0aa195;
}
.start h6 {
    font-size: 18px;
    max-width: 580px;
}
.start .play {
    color: #0aa195;
    border: 4px solid #fff;
    font-size: 80px;
    width: 84px;
    height: 84px;
}
/* Get Started CSS End */


/* Services CSS Start */
.service {
    padding: 80px 0;
}
.service h1 {
    font-size: 40px;
    position: relative;
}
.service h1 span {
    position: absolute;
    top: -14px;
    width: 78px;
    height: 78px;
    z-index: -1;
    background-color: #c3e6e478;
}
.service p {
    font-size: 18px;
    max-width: 580px;
}
.service h4 {
    font-size: 42px;
}
.service .item .image {
    background-color: #0aa1952e;
    max-width: 56px;
}
.service .item .image img {
    width: 50%;
    height: 56px;
}
.service .item h6 {
    max-width: 260px;
}
/* Services CSS End */


/* Team CSS Start */
.team {
    padding: 80px 0;
}
.team h1 {
    font-size: 40px;
    position: relative;
}
.team h1 span {
    position: absolute;
    top: -14px;
    width: 78px;
    height: 78px;
    z-index: -1;
    background-color: #c3e6e478;
}
.team p {
    font-size: 18px;
    max-width: 580px;
}
.team .item h3 {
    font-size: 24px;
}
.team .item .border_btm {
    border-bottom: 1px solid #00000013;
    max-width: 200px;
}
.team .socials a {
    font-size: 24px;
    transition: 0.4s;
}
.team .socials a:hover {
    color: #0aa195 !important;
}
/* Team CSS End */


/* Brand CSS Start */
.brand {
    padding: 80px 0;
}
.brand h1 {
    font-size: 40px;
    position: relative;
}
.brand h1 span {
    position: absolute;
    top: -14px;
    width: 78px;
    height: 78px;
    z-index: -1;
    background-color: #c3e6e478;
}
.brand p {
    font-size: 18px;
    max-width: 580px;
}
.brand .wrapper {
    background-color: #0aa195;
}
.brand .image {
    transition: 0.4s;
}
.brand .image:hover {
    transform: scale(1.04);
}
/* Brand CSS End */