/* Header CSS Start */
header {
    padding: 94px 0 80px;
    background: url(/images/home/bg/home.png);
    background-size: cover;
    background-position: center;
}
header .icon {
    border: 4px solid #e6f2f1;
    width: 64px;
    height: 64px;
    color: #0aa195;
    font-size: 20px;
}
header h1 {
    font-size: 46px;
    max-width: 500px;
}
header h6 {
    max-width: 560px;
}
header ul .dot {
    color: #0aa195 !important;
    font-size: 9px;
}
header .header_btn {
    background-color: #0aa195;
}
/* Header CSS End */


/* Brand CSS Start */
.brand {
    padding: 80px 0;
}
.brand .image {
    transition: 0.4s;
}
.brand .image:hover {
    transform: scale(1.04);
}
/* Brand CSS End */


/* Services Start */
.service {
    padding: 80px 0;
}
.service h1 {
    font-size: 40px;
    position: relative;
}
.service h1 span {
    position: absolute;
    top: -14px;
    width: 78px;
    height: 78px;
    z-index: -1;
    background-color: #c3e6e478;
}
.service p {
    font-size: 18px;
    max-width: 580px;
}
.service .item .icon {
    background-color: #0aa195;
    color: #ffffffd9;
    width: 84px;
    height: 84px;
}
.service .item h6 {
    max-width: 328px;
}
/* Services End */


/* Feature CSS Start */
.feature {
    padding: 80px 0;
}
.feature h1 {
    font-size: 40px;
    position: relative;
}
.feature h1 span {
    position: absolute;
    top: -14px;
    width: 78px;
    height: 78px;
    z-index: -1;
    background-color: #c3e6e478;
}
.feature p {
    font-size: 18px;
    max-width: 580px;
}
.feature h2 {
    font-size: 33px;
}
.feature h5 {
    font-size: 19px;
}
.feature .logo {
    background-color: #c3e6e478;
    max-width: 42px;
}
.feature .logo img {
    width: 100%;
}
/* Feature CSS End */


/* Get Started CSS Start */
.start {
    padding: 80px 0;
}
.start .wrapper {
    background: url(/images/home/bg/get_started.png);
    background-size: cover;
    background-position: center;
    background-color: #0aa195;
}
.start h6 {
    font-size: 18px;
    max-width: 580px;
}
.start .play {
    color: #0aa195;
    border: 4px solid #fff;
    font-size: 83px;
    width: 84px;
    height: 84px;
}
/* Get Started CSS End */


/* Testimonial CSS Start */
.testimonial {
    padding: 80px 0;
}
.testimonial h1 {
    font-size: 50px;
    position: relative;
}
.testimonial h1 span {
    position: absolute;
    top: -14px;
    width: 78px;
    height: 78px;
    z-index: -1px;
    background-color: #c3e6e478;
}
.testimonial p {
    font-size: 17px;
    max-width: 580px;
}
.testimonial p a {
    color: #0aa195;
}
.testimonial .icon {
    background-color: #0aa195;
    width: 52px;
    height: 52px;
}
.testimonial h3 {
    font-size: 24px;
    line-height: 34px;
    max-width: 500px;
}
/* Testimonial CSS End */


/* Plan CSS Start */
.plan {
    padding: 80px 0;
}
.plan h1 {
    font-size: 40px;
    position: relative;
}
.plan h1 span {
    position: absolute;
    top: -14px;
    width: 78px;
    height: 78px;
    z-index: -1;
    background-color: #c3e6e478;
}
.plan p {
    font-size: 18px;
    max-width: 580px;
}
.plan .item h2 {
    font-size: 56px;
}
.plan .item h5 {
    font-size: 14px;
    color: #0aa195;
}
.plan .item .border_btm {
    border-bottom: 1px solid #00000014;
}
.plan .item a {
    background-color: #c3e6e478;
    color: #0aa195;
}
.plan .item, .plan .item .border_btm, .plan .item h6, .plan .item h2, .plan .item h5, .plan .item a {
    transition: 0.4s;
}
.plan .item:hover, .plan .best_item {
    background-color: #0aa195;
}
.plan .item:hover h6, .plan .best_item h6 {
    color: #ffffffd9 !important;
}
.plan .item:hover h2, .plan .item:hover h5, .plan .best_item h2, .plan .best_item h5 {
    color: #fff !important;
}
.plan .item:hover .border_btm, .plan .best_item .border_btm {
    border-bottom: 1px solid #ffffff30;
}
.plan .item:hover a, .plan .best_item a {
    background-color: #fff;
}
/* Plan CSS End */


/* FAQ CSS Start */
.faq {
    padding: 80px 0;
}
.faq h1 {
    font-size: 40px;
    position: relative;
}
.faq h1 span {
    position: absolute;
    top: -14px;
    width: 78px;
    height: 78px;
    z-index: -1;
    background-color: #c3e6e478;
}
.faq p {
    font-size: 18px;
    max-width: 580px;
}
.faq .accordion {
    max-width: 600px;
}
.faq .accordion-button:focus {
    box-shadow: none;
    background-color: #fff;
    color: #000;
    border: 0;
}
.faq .accordion-body {
    font-size: 14px;
}
/* FAQ CSS End */


/* Contact CSS Start */
.contact {
    padding: 80px 0;
    background: url(/images/home/bg/contact.jpg);
    background-position: center;
    background-size: cover;
}
.contact h1 {
    font-size: 40px;
    position: relative;
}
.contact h1 span {
    position: absolute;
    top: -14px;
    width: 78px;
    height: 78px;
    z-index: -1;
    background-color: #c3e6e478;
}
.contact p {
    font-size: 18px;
    max-width: 580px;
}
.contact a {
    background-color: #0aa195;
}
/* Contact CSS End */