*::before,*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body {
    font-family: "Nunito", sans-serif;
}


/* Navigation CSS Start */
nav {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    position: fixed !important;
    border: 1px solid #eee;
}
nav .logo {
    max-width: 128px;
}
nav .logo img {
    width: 100%;
}
nav .nav-link:hover {
    color: #0aa195;
}
nav .nav_button {
    background-color: #0aa195;
}
/* Navigation CSS End */


/* Footer CSS Start */
footer {
    background-color: #20262d;
    padding: 60px 0 30px;
}
footer .logo {
    max-width: 126px;
}
footer .logo img {
    width: 100%;
}
footer form {
    background-color: #ffffff0a;
    border: 1px solid #ffffff06;
    padding: 2px;
}
footer form input {
    background: none !important;
    font-size: 14px;
}
footer form input::placeholder {
    color: #ffffff50 !important;
    font-size: 14px;
}
footer form input:focus {
    box-shadow: none !important;
}
footer form button {
    background-color: #0aa195;
    font-size: 14px;
}
footer .footer_border {
    border: 1px solid #ffffff11;
}
footer .links a {
    transition: 0.4s;
}
footer .links a:hover {
    color: #0aa195 !important;
}
footer .star {
    transform: translateY(4px);
}
footer .socials a {
    font-size: 18px;
    background-color: #ffffff0b;
    width: 38px;
    height: 38px;
    transition: 0.4s;
}
footer .socials a:hover {
    color: #0aa195 !important;
    transform: translateY(-4px);
}
footer .copyright {
    background-color: #ffffff08;
}
/* Footer CSS End */