/* Header CSS Start */
header {
    padding: 124px 0 80px;
    background: url(/images/about/bg/about.jpg);
    background-size: cover;
    background-position: center;
}
header h1 {
    font-size: 40px;
}
header h6 {
    margin-bottom: 30px;
}
header .header_btn {
    background-color: #0aa195;
}
/* Header CSS End */


/* Services Start */
.service {
    padding: 80px 0;
}
.service h1 {
    font-size: 40px;
    position: relative;
}
.service h1 span {
    position: absolute;
    top: -14px;
    width: 78px;
    height: 78px;
    z-index: -1;
    background-color: #c3e6e478;
}
.service p {
    font-size: 18px;
    max-width: 580px;
}
.service .item .icon {
    background-color: #0aa195;
    color: #ffffffd9;
    width: 84px;
    height: 84px;
}
.service .item h6 {
    max-width: 328px;
}
/* Services End */


/* Explore CSS Start */
.explore {
    padding: 80px 0;
}
.explore p {
    position: relative;
    font-size: 14px;
}
.explore p .design {
    position: absolute;
    top: 0px;
    width: 78px;
    height: 16px;
    z-index: -1;
    background-color: #c3e6e478;
}
.explore h2 {
    font-size: 40px;
    max-width: 460px;
}
.explore h6 {
    max-width: 470px;
}
.explore a {
    background-color: #0aa195;
}
/* Explore CSS End */


/* FAQ CSS Start */
.faq {
    padding: 80px 0;
}
.faq h1 {
    font-size: 40px;
    position: relative;
}
.faq h1 span {
    position: absolute;
    top: -14px;
    width: 78px;
    height: 78px;
    z-index: -1;
    background-color: #c3e6e478;
}
.faq p {
    font-size: 18px;
    max-width: 580px;
}
.faq .accordion {
    max-width: 600px;
}
.faq .accordion-button:focus {
    box-shadow: none;
    background-color: #fff;
    color: #000;
    border: 0;
}
.faq .accordion-body {
    font-size: 14px;
}
/* FAQ CSS End */